{{define "sheet_black_crusade"}}
    <div class="tabs" id="navigation-tabs">
        <input class="radiotab" type="radio" id="show-player-sheet" name="toggle" checked="checked" />
        <label class="tablabel" for="show-player-sheet">Player Sheet</label>
        <div id="player-sheet" class="character-sheet panel">
            <h2 class="align-self-center">Character Information</h2>
            <div class="character-sheet-grid">
                <div class="block-mount" data-block="character-info"></div>

                <div class="layout-row items-start">
                    <div class="layout-column" id="character-sheet-left-col">
                        <div class="block-mount" data-block="characteristics"></div>

                        <div id="skills" class="skills-block">
                            <div>
                                <h3>Skills</h3>
                                <div class="skill-list">
                                    <div class="block-mount" data-block="skills"></div>
                                </div>
                            </div>

                            <div class="custom-skills">
                                <h3>Custom skills</h3>
                                <div class="block-mount" data-block="custom-skills"></div>
                            </div>
                        </div>
                    </div>

                    <div class="layout-column" id="character-sheet-right-col">
                        <h3>Notes</h3>
                        <div class="block-mount" data-block="notes"></div>
                    </div>
                </div>
            </div>
        </div>

        <input class="radiotab" type="radio" id="show-combat" name="toggle" />
        <label class="tablabel" for="show-combat">Combat</label>
        <div id="combat" class="combat panel">
            <h2 class="align-self-center">Combat</h2>
            <div class="layout-row gap-5">
                <div class="statblock layout-column">
                    <div class="layout-column">
                        <div class="layout-row content-around">
                            <div class="layout-column infamy-block">
                                <h3>Infamy Points</h3>
                                <div class="block-mount" data-block="infamy"></div>
                            </div>
                            <div class="layout-column fatigue-block">
                                <h3>Fatigue</h3>
                                <div class="block-mount" data-block="fatigue"></div>
                            </div>
                        </div>
                        <div class="layout-row">
                            <div class="block-mount" data-block="resource-trackers"></div>
                        </div>
                        <div class="layout-row content-around">
                            <div class="block-mount" data-block="initiative"></div>
                        </div>
                    </div>

                    <div>
                        <h3>Movement</h3>
                        <div class="block-mount" data-block="movement"></div>
                    </div>


                    <div id="armour" class="armour">
                        <h3>Armour & Defence</h3>
                        <div class="block-mount" data-block="armour"></div>
                    </div>

                    <div id="power-shields">
                        <h3>Power Shields</h3>
                        <div class="block-mount" data-block="power-shields"></div>
                    </div>
                </div>
                <div class="layout-column full-width">
                    <h3>Ranged Attacks</h3>
                    <div class="block-mount" data-block="ranged-attacks"></div>

                    <h3>Melee Attacks</h3>
                    <div class="block-mount" data-block="melee-attacks"></div>
                </div>
            </div>
        </div>

        <input class="radiotab" type="radio" id="show-talents" name="toggle" />
        <label class="tablabel" for="show-talents">Talents</label>
        <div id="traits-and-talents" class="talents panel">
            <h2 class="align-self-center">Traits and Talents</h2>
            <h3>Traits</h3>
            <div class="block-mount" data-block="traits"></div>

            <h3>Talents</h3>
            <div class="block-mount" data-block="talents"></div>
        </div>

        <input class="radiotab" type="radio" id="show-gear" name="toggle" />
        <label class="tablabel" for="show-gear">Gear</label>
        <div id="inventory" class="gear panel">
            <div class="layout-column">
                <h2 class="align-self-center">Weight</h2>
                <div class="block-mount" data-block="carry-weight"></div>

                <h2 class="align-self-center">Gear</h2>
                <div class="block-mount" data-block="gear"></div>

                <h2 class="align-self-center">Cybernetics</h2>
                <div class="block-mount" data-block="cybernetics"></div>
            </div>
        </div>

        <input class="radiotab" type="radio" id="show-advancements" name="toggle" />
        <label class="tablabel" for="show-advancements">Advancements</label>
        <div id="advancements" class="advancements panel">
            <div id="advancements-grid">
                <div class="block-mount" data-block="experience"></div>

                <div>
                    <h2 class="align-self-center">Mutations</h2>
                    <div class="block-mount" data-block="mutations"></div>

                </div>
                <div>
                    <h2 class="align-self-center">Mental Disorders</h2>
                    <div class="block-mount" data-block="mental-disorders"></div>
                </div>
                <div>
                    <h2 class="align-self-center">Diseases</h2>
                    <div class="block-mount" data-block="diseases"></div>
                </div>
            </div>
        </div>

        <input class="radiotab" type="radio" id="show-psykana" name="toggle" />
        <label class="tablabel" for="show-psykana">Psykana</label>
        <div id="psykana" class="psykana panel">
            <h2 class="align-self-center">Psykana</h2>
            {{template "psykana" .}}
        </div>

        <input class="radiotab" type="radio" id="show-techno-arcana" name="toggle" />
        <label class="tablabel" for="show-techno-arcana">Techno Arcana</label>
        <div id="techno-arcana" class="techno-arcana panel">
            <h2 class="align-self-center">Techno Arcana</h2>
            {{template "techno-arcana" .}}
        </div>
    </div>
{{end}}
