{{define "ranged_attacks"}}
<div id="ranged-attack" data-id="ranged-attack.items" class="item-grid">
    {{ $cols := layoutRangedAttacks "ranged-attack" .RangedAttacks }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
        {{ range $rowIndex, $key := $col }}
        {{ $ra := index $.RangedAttacks.Items $key }}
        <div class="ranged-attack item-with-description {{ if $ra.Description }}{{ else }}collapsed{{ end }}"
            data-id="{{ $key }}">
            <div class="layout-row split-header  dropdown-parent">
                <div class="layout-row name">
                    <label class="rollable">Name:</label>
                    <input class="long-input" data-id="name" value="{{ $ra.Name }}" />
                </div>
                <button class="toggle-button"></button>
                <div class="layout-row class">
                    <label>Class:</label>
                    <select data-id="class">
                        <option value="pistol" {{if eq $ra.Class "pistol" }}selected{{end}}>Pistol</option>
                        <option value="rifle" {{if eq $ra.Class "rifle" }}selected{{end}}>Rifle</option>
                        <option value="long rifle" {{if eq $ra.Class "long rifle" }}selected{{end}}>Long Rifle</option>
                        <option value="heavy" {{if eq $ra.Class "heavy" }}selected{{end}}>Heavy</option>
                        <option value="throwing" {{if eq $ra.Class "throwing" }}selected{{end}}>Throwing</option>
                        <option value="grenade" {{if eq $ra.Class "grenade" }}selected{{end}}>Grenade</option>
                        <option value="special" {{if eq $ra.Class "special" }}selected{{end}}>Special</option>
                    </select>
                </div>
                <div class="drag-handle"></div>
                <button class="delete-button"></button>

                {{ if $ra.Roll }}
                {{template "ranged_attack_roll" (dict "ra" $ra "key" $key)}}
                {{ end }}
            </div>

            <div class="layout-row">
                <div class="layout-row range">
                    <label>Range:</label>
                    <input data-id="range" value="{{ $ra.Range }}" />
                </div>
                <div class="layout-row damage">
                    <label>Damage:</label>
                    <input data-id="damage" value="{{ $ra.Damage }}" />
                </div>
                <div class="layout-row pen">
                    <label>Pen:</label>
                    <input data-id="pen" value="{{ $ra.Pen }}" />
                </div>
                <div class="layout-row damage-type">
                    <label>Type:</label>
                    <select data-id="damage-type">
                        <option value="I" {{if eq $ra.DamageType "I" }}selected{{end}}>I</option>
                        <option value="I(Cr)" {{if eq $ra.DamageType "I(Cr)" }}selected{{end}}>I(Cr)</option>
                        <option value="R" {{if eq $ra.DamageType "R" }}selected{{end}}>R</option>
                        <option value="X" {{if eq $ra.DamageType "X" }}selected{{end}}>X</option>
                        <option value="X(Fr)" {{if eq $ra.DamageType "X(Fr)" }}selected{{end}}>X(Fr)</option>
                        <option value="E" {{if eq $ra.DamageType "E" }}selected{{end}}>E</option>
                        <option value="E(El)" {{if eq $ra.DamageType "E(El)" }}selected{{end}}>E(El)</option>
                        <option value="E(Ls)" {{if eq $ra.DamageType "E(Ls)" }}selected{{end}}>E(Ls)</option>
                        <option value="E(Fl)" {{if eq $ra.DamageType "E(Fl)" }}selected{{end}}>E(Fl)</option>
                        <option value="C" {{if eq $ra.DamageType "C" }}selected{{end}}>C</option>
                        <option value="C(Tx)" {{if eq $ra.DamageType "C(Tx)" }}selected{{end}}>C(Tx)</option>
                    </select>
                </div>
            </div>

            <div class="layout-row">
                <div class="layout-row rof">
                    <label>RoF:</label>
                    <input data-id="rof-single" value="{{ $ra.RoFSingle }}" />/
                    <input class="shorter-input" data-id="rof-short" value="{{ $ra.RoFShort }}" />/
                    <input class="shorter-input" data-id="rof-long" value="{{ $ra.RoFLong }}" />
                </div>
                <div class="layout-row clip">
                    <label>Clip:</label>
                    <input data-id="clip-cur" value="{{ $ra.ClipCur }}" />/
                    <input data-id="clip-max" value="{{ $ra.ClipMax }}" />
                </div>
                <div class="layout-row reload">
                    <label>Reload:</label>
                    <input data-id="reload" value="{{ $ra.Reload }}" />
                </div>
            </div>

            <div class="layout-row">
                <div class="layout-row special">
                    <label>Special:</label>
                    <input data-id="special" value="{{ $ra.Special }}" />
                </div>
            </div>

            <div class="layout-row">
                <div class="layout-row upgrades">
                    <label>Upgrades:</label>
                    <input data-id="upgrades" value="{{ $ra.Upgrades }}" />
                </div>
            </div>
            <div class="collapsible-content">
                <textarea class="split-description" placeholder=" "
                    data-id="description">{{ $ra.Description }}</textarea>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}

{{define "ranged_attack_roll"}}
{{ $attackId := .key }}
{{ $roll := .ra.Roll }}

<div class="attack-roll-dropdown" data-id="roll">
    {{/* Aim Column */}}
    <div data-id="aim" class="roll-column aim">
        <label class="column-label">Aim</label>
        <div class="roll-column-content">
            <div class="radio-option">
                <label>
                    <input type="radio" name="aim-{{$attackId}}" value="no" {{if eq $roll.Aim.Selected "no"
                        }}checked{{end}}>
                    No</label>
                <input type="number" data-id="no" value="{{$roll.Aim.No}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="aim-{{$attackId}}" value="half" {{if eq $roll.Aim.Selected "half"
                        }}checked{{end}}>
                    Half</label>
                <input type="number" data-id="half" value="{{$roll.Aim.Half}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="aim-{{$attackId}}" value="full" {{if eq $roll.Aim.Selected "full"
                        }}checked{{end}}>
                    Full</label>
                <input type="number" data-id="full" value="{{$roll.Aim.Full}}">
            </div>
        </div>
    </div>

    {{/* Target Column */}}
    <div data-id="target" class="roll-column target">
        <label class="column-label">Target</label>
        <div class="roll-column-content">
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="no" {{if eq $roll.Target.Selected "no"
                        }}checked{{end}}>
                    No</label>
                <input type="number" data-id="no" value="{{$roll.Target.No}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="torso" {{if eq $roll.Target.Selected "torso"
                        }}checked{{end}}>
                    Torso</label>
                <input type="number" data-id="torso" value="{{$roll.Target.Torso}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="leg" {{if eq $roll.Target.Selected "leg"
                        }}checked{{end}}>
                    Leg</label>
                <input type="number" data-id="leg" value="{{$roll.Target.Leg}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="arm" {{if eq $roll.Target.Selected "arm"
                        }}checked{{end}}>
                    Arm</label>
                <input type="number" data-id="arm" value="{{$roll.Target.Arm}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="head" {{if eq $roll.Target.Selected "head"
                        }}checked{{end}}>
                    Head</label>
                <input type="number" data-id="head" value="{{$roll.Target.Head}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="joint" {{if eq $roll.Target.Selected "joint"
                        }}checked{{end}}>
                    Joint</label>
                <input type="number" data-id="joint" value="{{$roll.Target.Joint}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="target-{{$attackId}}" value="eyes" {{if eq $roll.Target.Selected "eyes"
                        }}checked{{end}}>
                    Eyes</label>
                <input type="number" data-id="eyes" value="{{$roll.Target.Eyes}}">
            </div>
        </div>
    </div>

    {{/* Range Column */}}
    <div data-id="range" class="roll-column range">
        <label class="column-label">Range</label>
        <div class="roll-column-content">
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="melee" {{if eq $roll.Range.Selected "melee"
                        }}checked{{end}}>
                    Melee</label>
                <input type="number" data-id="melee" value="{{$roll.Range.Melee}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="point-blank" {{if eq
                        $roll.Range.Selected "point-blank" }}checked{{end}}>
                    Point-blank</label>
                <input type="number" data-id="point-blank" value="{{$roll.Range.PointBlank}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="short" {{if eq $roll.Range.Selected "short"
                        }}checked{{end}}>
                    Short</label>
                <input type="number" data-id="short" value="{{$roll.Range.Short}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="combat" {{if eq $roll.Range.Selected "combat"
                        }}checked{{end}}>
                    Combat</label>
                <input type="number" data-id="combat" value="{{$roll.Range.Combat}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="long" {{if eq $roll.Range.Selected "long"
                        }}checked{{end}}>
                    Long</label>
                <input type="number" data-id="long" value="{{$roll.Range.Long}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="range-{{$attackId}}" value="extreme" {{if eq
                        $roll.Range.Selected "extreme" }}checked{{end}}>
                    Extreme</label>
                <input type="number" data-id="extreme" value="{{$roll.Range.Extreme}}">
            </div>
        </div>
    </div>

    {{/* RoF Column */}}
    <div data-id="rof" class="roll-column rof">
        <label class="column-label">RoF</label>
        <div class="roll-column-content">
            <div class="radio-option">
                <label>
                    <input type="radio" name="rof-{{$attackId}}" value="single" {{if eq $roll.RoF.Selected "single"
                        }}checked{{end}}>
                    Single</label>
                <input type="number" data-id="single" value="{{$roll.RoF.Single}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="rof-{{$attackId}}" value="short" {{if eq $roll.RoF.Selected "short"
                        }}checked{{end}}>
                    Short</label>
                <input type="number" data-id="short" value="{{$roll.RoF.Short}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="rof-{{$attackId}}" value="long" {{if eq $roll.RoF.Selected "long"
                        }}checked{{end}}>
                    Long</label>
                <input type="number" data-id="long" value="{{$roll.RoF.Long}}">
            </div>
            <div class="radio-option">
                <label>
                    <input type="radio" name="rof-{{$attackId}}" value="suppression" {{if eq
                        $roll.RoF.Selected "suppression" }}checked{{end}}>
                    Suppression</label>
                <input type="number" data-id="suppression" value="{{$roll.RoF.Suppression}}">
            </div>
        </div>
    </div>

    {{/* Extra Modifiers */}}
    <div data-id="extra1" class="extra-modifier">
        <input type="text" data-id="name" placeholder="Extra 1" value="{{$roll.Extra1.Name}}">
        <div class="roll-column-content">
            <input type="number" data-id="value" placeholder="0" value="{{$roll.Extra1.Value}}">
            <input type="checkbox" data-id="enabled" {{if $roll.Extra1.Enabled}}checked{{end}}>
        </div>
    </div>

    <div data-id="extra2" class="extra-modifier">
        <input type="text" data-id="name" placeholder="Extra 2" value="{{$roll.Extra2.Name}}">
        <div class="roll-column-content">
            <input type="number" data-id="value" placeholder="0" value="{{$roll.Extra2.Value}}">
            <input type="checkbox" data-id="enabled" {{if $roll.Extra2.Enabled}}checked{{end}}>
        </div>
    </div>

    {{/* Result */}}
    <div class="roll-result">
        <input type="number" data-id="total" class="uneditable textlike" readonly>
        <button data-id="roll-button">Roll</button>
    </div>
</div>
{{end}}