{{define "traits"}}
<div id="traits" data-id="traits" class="item-grid">
  {{ $cols := layoutNamedDescriptions "traits" .Layouts.Traits .Traits }}
  {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
      {{ range $rowIndex, $key := $col }}
        {{ $t := index $.Traits $key }}
        <div class="item-with-description" data-id="{{ $key }}">
          <div class="split-header">
            <input type="text" data-id="name" value="{{ $t.Name }}">
            <button class="toggle-button"></button>
            <div class="drag-handle"></div>
            <button class="delete-button"></button>
          </div>
          <textarea class="split-description {{ if $t.Description }} visible {{end}}" placeholder=" " data-id="description">{{ $t.Description }}</textarea>
        </div>
      {{ end }}
    </div>
  {{ end }} 
</div>
{{end}}
