{{define "experience"}}
<div class="layout-column quarter-grid-column" data-id="experience">
    <h2 class="align-self-center">Experience</h2>
    <div id="experience-bar" class="layout-row centered-bar">
        <label>Total XP:</label>
        <input data-id="experience-total" type="number" class="short" value="{{ .Experience.Total }}">
        <label>Spent XP:</label>
        <input data-id="experience-spent" type="number" class="short" value="{{ .Experience.Spent }}">
        <label>Remaining XP:</label>
        <input data-id="experience-remaining" type="number" class="short" value="{{ .Experience.Remaining }}">
    </div>

    <div id="experience-log" data-id="experience-log" class="item-grid">
        {{ $cols := layoutExperienceItems "experience-log" .Layouts.ExperienceLog .Experience.Log }}
        {{ range $colIndex, $col := $cols }}
        <div class="layout-column">
            {{ range $rowIndex, $key := $col }}
            {{ $ei := index $.Experience.Log $key }}
            <div class="experience-item" data-id="{{ $key }}" draggable="false">
                <input class="long" data-id="name" value="{{ $ei.Name }}">
                <input class="short" data-id="experience-cost" value="{{ $ei.ExperienceCost }}">
                <div class="drag-handle"></div>
                <button class="delete-button"></button>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{end}}