{{define "gear"}}
<div id="gear" data-id="gear.items" class="item-grid">
    {{ $cols := layoutGearItems "gear" .Gear }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
        {{ range $rowIndex, $key := $col }}
        {{ $g := index $.Gear.Items $key }}
        <div class="gear-item item-with-description {{ if $g.Description }}{{ else }}collapsed{{ end }}" data-id="{{ $key }}" draggable="false">
            <div class="split-header">
                <input class="long" data-id="name" value="{{ $g.Name }}">
                <button class="toggle-button"></button>
                <input type="number" placeholder="wt." class="short textlike" data-id="weight" value="{{ $g.Weight }}">
                <div class="drag-handle"></div>
                <button class="delete-button"></button>
            </div>
            <div class="collapsible-content">
                <textarea class="split-description" placeholder=" "
                    data-id="description">{{ $g.Description }}</textarea>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}