{{define "mutations"}}
<div id="mutations" data-id="mutations" class="item-grid">
    {{ $cols := layoutNamedDescriptions "mutations" .Layouts.Mutations .Mutations }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column">
        {{ range $rowIndex, $key := $col }}
        {{ $m := index $.Mutations $key }}
        <div class="item-with-description" data-id="{{ $key }}">
            <div class="split-header">
                <input type="text" data-id="name" value="{{ $m.Name }}">
                <button class="toggle-button"></button>
                <div class="drag-handle"></div>
                <button class="delete-button"></button>
            </div>
            <textarea class="split-description" placeholder=" " data-id="description">{{ $m.Description }}</textarea>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}