{{define "cybernetics"}}
<div id="cybernetics" data-id="cybernetics.items" class="item-grid">
    {{ $cols := layoutNamedDescriptions "cybernetics" .Cybernetics }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
        {{ range $rowIndex, $key := $col }}
        {{ $c := index $.Cybernetics.Items $key }}
        <div class="item-with-description {{ if $c.Description }}{{ else }}collapsed{{ end }}" data-id="{{ $key }}">
            <div class="split-header">
                <input type="text" data-id="name" value="{{ $c.Name }}">
                <button class="toggle-button"></button>
                <div class="drag-handle"></div>
                <button class="delete-button"></button>
            </div>
            <div class="collapsible-content">
                <textarea class="split-description" placeholder=" "
                    data-id="description">{{ $c.Description }}</textarea>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}