{{define "mutations"}}
<div id="mutations" data-id="mutations.items" class="item-grid">
    {{ $cols := layoutNamedDescriptions "mutations" .Mutations }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
        {{ range $rowIndex, $key := $col }}
        {{ $m := index $.Mutations.Items $key }}
        <div class="item-with-description {{ if $m.Description }}{{ else }}collapsed{{ end }}" data-id="{{ $key }}">
            <div class="split-header">
                <input type="text" data-id="name" value="{{ $m.Name }}">
                <button class="toggle-button"></button>
                <div class="drag-handle"></div>
                <button class="delete-button"></button>
            </div>
            <div class="collapsible-content">
                <textarea class="split-description" placeholder=" "
                    data-id="description">{{ $m.Description }}</textarea>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}