{{define "psykana"}}
<div class="layout-column" data-id="psykana">
    <div id="pr-bar" class="layout-column centered-bar">
        <div class="layout-row">
            <label>Psykana type:
                <select data-id="psykana-type">
                    <option value="Bound" {{if eq .Psykana.PsykanaType "Bound" }}selected{{end}}>Bound</option>
                    <option value="Unbound" {{if eq .Psykana.PsykanaType "Unbound" }}selected{{end}}>Unbound</option>
                    <option value="Daemonic" {{if eq .Psykana.PsykanaType "Daemonic" }}selected{{end}}>Daemonic</option>
                </select>
            </label>
            <label>Max Push:
                <input data-id="max-push" type="number" class="short" value="{{ .Psykana.MaxPush }}">
            </label>
        </div>
        <div class="layout-row">
            <label>Base PR:
                <input data-id="base-pr" type="number" class="short" value="{{ .Psykana.BasePR }}">
            </label>
            <label>Sustained Powers:
                <input data-id="sustained-powers" type="number" class="short" value="{{ .Psykana.SustainedPowers }}">
            </label>
            <label>Effective PR:
                <input data-id="effective-pr" type="number" class="short uneditable textlike" value="{{ .Psykana.EffectivePR }}">
            </label>
        </div>
    </div>

    <div id="psychic-powers" data-id="psychic-powers" class="item-grid">
        {{ $cols := layoutPsychicPowers "psychic-powers" .Layouts.PsychicPowers .Psykana.PsychicPowers }}
        {{ range $colIndex, $col := $cols }}
        <div class="layout-column">
            {{ range $rowIndex, $key := $col }}
            {{ $p := index $.Psykana.PsychicPowers $key }}
            <div class="psychic-power item-with-description" data-id="{{ $key }}" draggable="false">
                <div class="split-header">
                    <input type="text" data-id="name" value="{{ $p.Name }}">
                    <button class="toggle-button"></button>
                    <div class="drag-handle"></div>
                    <button class="delete-button"></button>
                </div>

                <div class="layout-row">
                    <div class="layout-row subtypes">
                        <label>Subtypes:</label>
                        <input data-id="subtypes" value="{{ $p.Subtypes }}">
                    </div>
                    <div class="layout-row range">
                        <label>Range:</label>
                        <input data-id="range" value="{{ $p.Range }}">
                    </div>
                </div>

                <div class="layout-row">
                    <div class="layout-row psychotest">
                        <label>Psychotest:</label>
                        <input data-id="psychotest" value="{{ $p.Psychotest }}">
                    </div>
                    <div class="layout-row action">
                        <label for="action">Action:</label>
                        <input data-id="action" value="{{ $p.Action }}">
                    </div>
                    <div class="layout-row sustained">
                        <label>Sustained:</label>
                        <input data-id="sustained" value="{{ $p.Sustained }}">
                    </div>
                </div>

                <div class="layout-row">
                    <div class="layout-row weapon-range">
                        <label>Range:</label>
                        <input data-id="weapon-range" value="{{ $p.WeaponRange }}">
                    </div>
                    <div class="layout-row damage">
                        <label>Damage:</label>
                        <input data-id="damage" value="{{ $p.Damage }}">
                    </div>
                    <div class="layout-row pen">
                        <label>Pen:</label>
                        <input data-id="pen" value="{{ $p.Pen }}">
                    </div>
                    <div class="layout-row type">
                        <label>Type:</label>
                        <select data-id="damage-type">
                            <option value="I" {{if eq $p.DamageType "I" }}selected{{end}}>I</option>
                            <option value="I(Cr)" {{if eq $p.DamageType "I(Cr)" }}selected{{end}}>I(Cr)</option>
                            <option value="R" {{if eq $p.DamageType "R" }}selected{{end}}>R</option>
                            <option value="X" {{if eq $p.DamageType "X" }}selected{{end}}>X</option>
                            <option value="X(Fr)" {{if eq $p.DamageType "X(Fr)" }}selected{{end}}>X(Fr)</option>
                            <option value="E" {{if eq $p.DamageType "E" }}selected{{end}}>E</option>
                            <option value="E(Ls)" {{if eq $p.DamageType "E(Ls)" }}selected{{end}}>E(Ls)</option>
                            <option value="E(Fl)" {{if eq $p.DamageType "E(Fl)" }}selected{{end}}>E(Fl)</option>
                            <option value="C" {{if eq $p.DamageType "C" }}selected{{end}}>C</option>
                            <option value="C(Tx)" {{if eq $p.DamageType "C(Tx)" }}selected{{end}}>C(Tx)</option>
                        </select>
                    </div>
                </div>

                <div class="layout-row">
                    <div class="layout-row rof">
                        <label>RoF:</label>
                        <input data-id="rof-single" />/
                        <input class="shorter-input" data-id="rof-short" value="{{ $p.RoFShort }}" />/
                        <input class="shorter-input" data-id="rof-long" value="{{ $p.RoFLong }}" />
                    </div>
                    <div class="layout-row special">
                        <label>Special:</label>
                        <input data-id="special" value="{{ $p.Special }}">
                    </div>
                </div>

                <textarea class="split-description" placeholder=" " data-id="effect">{{ $p.Effect }}</textarea>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{end}}