{{define "techno-arcana"}}
<div class="layout-column" data-id="technoArcana">
    <div id="techno-arcana-bar" class="layout-column centered-bar">
        <div class="layout-row">
            <label>Current Cognition:
                <input data-id="currentCognition" type="number" class="short"
                    value="{{ .TechnoArcana.CurrentCognition }}">
            </label>
            <label>Max Cognition:
                <input data-id="maxCognition" type="number" class="short" value="{{ .TechnoArcana.MaxCognition }}">
            </label>
            <label>Restore per turn:
                <input data-id="restoreCognition" type="number" class="short"
                    value="{{ .TechnoArcana.RestoreCognition }}">
            </label>
        </div>
        <div class="layout-row">
            <label>Current Energy:
                <input data-id="currentEnergy" type="number" class="short" value="{{ .TechnoArcana.CurrentEnergy }}">
            </label>
            <label>Max Energy:
                <input data-id="maxEnergy" type="number" class="short" value="{{ .TechnoArcana.MaxEnergy }}">
            </label>
        </div>
    </div>

    <div class="tabs power-tabs" data-id="tabs.items">
        {{ $tabCols := layoutTechTabs "tabs" .TechnoArcana.Tabs }}
        {{ range $colIndex, $col := $tabCols }}
        {{ range $rowIndex, $tabKey := $col }}
        {{ $tab := index $.TechnoArcana.Tabs.Items $tabKey }}
        {{ $isFirst := and (eq $colIndex 0) (eq $rowIndex 0) }}

        <input class="radiotab" type="radio" id="{{ $tabKey }}" name="techno-tabs" {{if $isFirst}}checked{{end}} />
        <label class="tablabel" for="{{ $tabKey }}" data-id="{{ $tabKey }}">
            <input data-id="name" value="{{ $tab.Name }}" />
            <div class="drag-handle"></div>
            <button class="delete-button"></button>
        </label>

        <div class="panel" data-id="{{ $tabKey }}">
            <div id="tech-powers-{{ $tabKey }}" data-id="powers.items" class="item-grid">
                {{ $powerCols := layoutTechPowers "powers" $tab.Powers }}
                {{ range $powerColIndex, $powerCol := $powerCols }}
                <div class="layout-column" data-column="{{ $powerColIndex }}">
                    {{ range $powerRowIndex, $powerKey := $powerCol }}
                    {{ $p := index $tab.Powers.Items $powerKey }}
                    {{template "tech_power_item" (dict "p" $p "key" $powerKey "tabKey" $tabKey)}}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
        <button class="add-tab-btn">+</button>
    </div>
</div>
{{end}}

{{define "tech_power_item"}}
{{ $p := .p }}
{{ $key := .key }}
{{ $tabKey := .tabKey }}
{{ $hasContent := or $p.Action $p.Effect }}
<div class="tech-power item-with-description {{if $hasContent}}{{else}} collapsed{{end}}" data-id="{{ $key }}">
    <div class="split-header dropdown-parent">
        <div class="layout-row name">
            <label class="rollable">Name:</label>
            <input type="text" data-id="name" value="{{ $p.Name }}">
        </div>
        <button class="toggle-button"></button>
        <div class="drag-handle"></div>
        <button class="delete-button"></button>

        {{ if $p.Roll }}
        {{template "tech_power_roll" (dict "p" $p "key" $key "tabKey" $tabKey)}}
        {{ end }}
    </div>

    <div class="collapsible-content">
        <div class="layout-row">
            <div class="layout-row subtypes">
                <label>Subtypes:</label>
                <input data-id="subtypes" value="{{ $p.Subtypes }}">
            </div>
            <div class="layout-row range">
                <label>Range:</label>
                <input data-id="range" value="{{ $p.Range }}">
            </div>
        </div>
        <div class="layout-row">
            <div class="layout-row implants">
                <label for="implants">Implants:</label>
                <input data-id="implants" value="{{ $p.Implants }}">
            </div>
            <div class="layout-row price">
                <label for="price">Price:</label>
                <input data-id="price" value="{{ $p.Price }}">
            </div>
            <div class="layout-row process">
                <label for="process">Process:</label>
                <input data-id="process" value="{{ $p.Process }}">
            </div>
        </div>
        <div class="layout-row">
            <div class="layout-row test">
                <label>Test:</label>
                <input data-id="test" value="{{ $p.Test }}">
            </div>
            <div class="layout-row action">
                <label for="action">Action:</label>
                <input data-id="action" value="{{ $p.Action }}">
            </div>
        </div>
        <div class="layout-row">
            <div class="layout-row weapon-range">
                <label>Range:</label>
                <input data-id="weaponRange" value="{{ $p.WeaponRange }}">
            </div>
            <div class="layout-row damage">
                <label for="damage">Damage:</label>
                <input data-id="damage" value="{{ $p.Damage }}">
            </div>
            <div class="layout-row pen">
                <label for="pen">Pen:</label>
                <input data-id="pen" value="{{ $p.Pen }}">
            </div>
            <div class="layout-row type">
                <label>Type:</label>
                <select data-id="damageType">
                    <option value="I" {{if eq $p.DamageType "I" }}selected{{end}}>I</option>
                    <option value="I(Cr)" {{if eq $p.DamageType "I(Cr)" }}selected{{end}}>I(Cr)
                    </option>
                    <option value="R" {{if eq $p.DamageType "R" }}selected{{end}}>R</option>
                    <option value="X" {{if eq $p.DamageType "X" }}selected{{end}}>X</option>
                    <option value="X(Fr)" {{if eq $p.DamageType "X(Fr)" }}selected{{end}}>X(Fr)
                    </option>
                    <option value="E" {{if eq $p.DamageType "E" }}selected{{end}}>E</option>
                    <option value="E(El)" {{if eq $p.DamageType "E(El)" }}selected{{end}}>E(El)
                    </option>
                    <option value="E(Ls)" {{if eq $p.DamageType "E(Ls)" }}selected{{end}}>E(Ls)
                    </option>
                    <option value="E(Fl)" {{if eq $p.DamageType "E(Fl)" }}selected{{end}}>E(Fl)
                    </option>
                    <option value="C" {{if eq $p.DamageType "C" }}selected{{end}}>C</option>
                    <option value="C(Tx)" {{if eq $p.DamageType "C(Tx)" }}selected{{end}}>C(Tx)
                    </option>
                </select>
            </div>
        </div>
        <div class="layout-row">
            <div class="layout-row rof">
                <label>RoF:</label>
                <input data-id="rofSingle" value="{{ $p.RoFSingle }}" />/
                <input class="shorter-input" data-id="rofShort" value="{{ $p.RoFShort }}" />/
                <input class="shorter-input" data-id="rofLong" value="{{ $p.RoFLong }}" />
            </div>
            <div class="layout-row special">
                <label>Special:</label>
                <input data-id="special" value="{{ $p.Special }}">
            </div>
        </div>
        <textarea class="split-description" placeholder=" " data-id="effect">{{ $p.Effect }}</textarea>
    </div>
</div>
{{end}}

{{define "tech_power_roll"}}
{{ $attackId := .key }}
{{ $roll := .p.Roll }}

<div class="roll-dropdown" data-id="roll">
    {{/* Select with characteristic or skill and test difficulty input */}}
    <div class="roll-column base">
        <label class="column-label">Test</label>
        <div class="roll-column-content">
            <select data-id="baseSelect">
                <option value="Tech-Use" data-type="skill" {{if eq $roll.BaseSelect "Tech-Use" }}selected{{end}}>
                    Tech-Use</option>
                <option value="Medicae" data-type="skill" {{if eq $roll.BaseSelect "Medicae" }}selected{{end}}>Medicae
                </option>
                <option value="Awareness (I)" data-type="skill" {{if eq $roll.BaseSelect "Awareness (I)"
                    }}selected{{end}}>Awareness (I)</option>
                <option value="Atheltics" data-type="skill" {{if eq $roll.BaseSelect "Atheltics)" }}selected{{end}}>
                    Atheltics</option>
                <option value="Logic" data-type="skill" {{if eq $roll.BaseSelect "Logic" }}selected{{end}}>Logic
                </option>
            </select>
            <label class="modifier-label">Modifier:</label>
            <input type="number" data-id="modifier" value="{{$roll.Modifier}}">
        </div>
    </div>

    {{/* Extra Modifiers */}}
    <div data-id="extra1" class="extra-modifier">
        <input type="text" data-id="name" placeholder="Extra 1" value="{{$roll.Extra1.Name}}">
        <div class="roll-column-content">
            <input type="number" data-id="value" placeholder="0" value="{{$roll.Extra1.Value}}">
            <input type="checkbox" data-id="enabled" class="custom" {{if $roll.Extra1.Enabled}}checked{{end}}>
        </div>
    </div>

    <div data-id="extra2" class="extra-modifier">
        <input type="text" data-id="name" placeholder="Extra 2" value="{{$roll.Extra2.Name}}">
        <div class="roll-column-content">
            <input type="number" data-id="value" placeholder="0" value="{{$roll.Extra2.Value}}">
            <input type="checkbox" data-id="enabled" class="custom" {{if $roll.Extra2.Enabled}}checked{{end}}>
        </div>
    </div>

    {{/* Result */}}
    <div class="roll-result">
        <input type="number" data-id="total" class="uneditable textlike" readonly>
        <button data-id="rollButton">Roll</button>
    </div>
</div>
{{end}}