{{define "conditions"}}
<div class="conditions-section layout-column">
    <h3>Conditions</h3>
    <div id="conditions" data-id="conditions.list.items" class="item-grid">
        {{ $cols := layoutConditions "conditions" .List }}
        {{ range $colIndex, $col := $cols }}
        <div class="layout-column" data-column="{{ $colIndex }}">
            {{ range $_, $key := $col }}
            {{ $cond := index $.List.Items $key }}
            {{template "condition_item" (dict "cond" $cond "key" $key)}}
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{end}}


{{define "condition_item"}}
{{ $cond := .cond }}
{{ $key := .key }}
{{ $s := $cond.Stats }}
<div class="condition-item" data-id="{{ $key }}">
    <div class="split-header">
        <input type="checkbox" data-id="enabled" class="custom" {{if $cond.Enabled}}checked{{end}}>
        <input type="text" data-id="name" class="long textlike" value="{{ $cond.Name }}">
        <select data-id="rowType">
            <option value="bonus" {{if or (eq $cond.RowType "bonus" ) (eq $cond.RowType "" )}}selected{{end}}>Bonus
            </option>
            <option value="cap" {{if eq $cond.RowType "cap" }}selected{{end}}>Cap</option>
            <option value="both" {{if eq $cond.RowType "both" }}selected{{end}}>Both</option>
        </select>
        <div class="drag-handle"></div>
        <button class="delete-button" type="button"></button>
    </div>
    <table class="condition-stats" data-id="stats">
        <thead>
            <tr>
                <th></th>
                <th>WS</th>
                <th>BS</th>
                <th>S</th>
                <th>T</th>
                <th>A</th>
                <th>I</th>
                <th>P</th>
                <th>W</th>
                <th>F</th>
                <th>Inf</th>
                <th>Cor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bonus-input">
                <td class="row-label">Bonus</td>
                <td data-id="WS"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "WS").Bonus}}{{(index
                        $s "WS" ).Bonus}}{{end}}"></td>
                <td data-id="BS"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "BS").Bonus}}{{(index
                        $s "BS" ).Bonus}}{{end}}"></td>
                <td data-id="S"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "S").Bonus}}{{(index $s "S"
                        ).Bonus}}{{end}}"></td>
                <td data-id="T"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "T").Bonus}}{{(index $s "T"
                        ).Bonus}}{{end}}"></td>
                <td data-id="A"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "A").Bonus}}{{(index $s "A"
                        ).Bonus}}{{end}}"></td>
                <td data-id="I"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "I").Bonus}}{{(index $s "I"
                        ).Bonus}}{{end}}"></td>
                <td data-id="P"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "P").Bonus}}{{(index $s "P"
                        ).Bonus}}{{end}}"></td>
                <td data-id="W"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "W").Bonus}}{{(index $s "W"
                        ).Bonus}}{{end}}"></td>
                <td data-id="F"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "F").Bonus}}{{(index $s "F"
                        ).Bonus}}{{end}}"></td>
                <td data-id="Inf"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "Inf").Bonus}}{{(index
                        $s "Inf" ).Bonus}}{{end}}"></td>
                <td data-id="Cor"><input data-id="bonus" class="textlike" type="number" value="{{if (index $s "Cor").Bonus}}{{(index
                        $s "Cor" ).Bonus}}{{end}}"></td>
            </tr>
            <tr class="bonus-input">
                <td class="row-label">Unnat.</td>
                <td data-id="WS"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "WS").Unnatural}}{{(index $s "WS" ).Unnatural}}{{end}}"></td>
                <td data-id="BS"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "BS").Unnatural}}{{(index $s "BS" ).Unnatural}}{{end}}"></td>
                <td data-id="S"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "S").Unnatural}}{{(index  $s "S" ).Unnatural}}{{end}}"></td>
                <td data-id="T"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "T").Unnatural}}{{(index  $s "T" ).Unnatural}}{{end}}"></td>
                <td data-id="A"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "A").Unnatural}}{{(index  $s "A" ).Unnatural}}{{end}}"></td>
                <td data-id="I"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "I").Unnatural}}{{(index  $s "I" ).Unnatural}}{{end}}"></td>
                <td data-id="P"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "P").Unnatural}}{{(index  $s "P" ).Unnatural}}{{end}}"></td>
                <td data-id="W"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "W").Unnatural}}{{(index  $s "W" ).Unnatural}}{{end}}"></td>
                <td data-id="F"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "F").Unnatural}}{{(index  $s "F" ).Unnatural}}{{end}}"></td>
                <td data-id="Inf"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "Inf").Unnatural}}{{(index $s "Inf" ).Unnatural}}{{end}}"></td>
                <td data-id="Cor"><input data-id="unnatural" class="textlike" type="number" value="{{if (index $s "Cor").Unnatural}}{{(index $s "Cor" ).Unnatural}}{{end}}"></td>
            </tr>
            <tr class="cap-input">
                <td class="row-label">Cap</td>
                <td data-id="WS"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "WS").Cap}}{{(index $s "WS"
                        ).Cap}}{{end}}"></td>
                <td data-id="BS"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "BS").Cap}}{{(index $s "BS"
                        ).Cap}}{{end}}"></td>
                <td data-id="S"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "S").Cap}}{{(index $s "S"
                        ).Cap}}{{end}}"></td>
                <td data-id="T"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "T").Cap}}{{(index $s "T"
                        ).Cap}}{{end}}"></td>
                <td data-id="A"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "A").Cap}}{{(index $s "A"
                        ).Cap}}{{end}}"></td>
                <td data-id="I"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "I").Cap}}{{(index $s "I"
                        ).Cap}}{{end}}"></td>
                <td data-id="P"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "P").Cap}}{{(index $s "P"
                        ).Cap}}{{end}}"></td>
                <td data-id="W"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "W").Cap}}{{(index $s "W"
                        ).Cap}}{{end}}"></td>
                <td data-id="F"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "F").Cap}}{{(index $s "F"
                        ).Cap}}{{end}}"></td>
                <td data-id="Inf"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "Inf").Cap}}{{(index
                        $s "Inf" ).Cap}}{{end}}"></td>
                <td data-id="Cor"><input data-id="cap" class="textlike" type="number" value="{{if (index $s "Cor").Cap}}{{(index
                        $s "Cor" ).Cap}}{{end}}"></td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}