{{define "custom_skills"}}
<div class="item-grid" id="custom-skills" data-id="customSkills.items">
    {{ $cols := layoutSkills "custom-skills" .CustomSkills }}
    {{ range $colIndex, $col := $cols }}
    <div class="layout-column" data-column="{{ $colIndex }}">
        {{ range $rowIndex, $key := $col }}
        {{ $s := index $.CustomSkills.Items $key }}
        {{template "custom_skill_item" (dict "skill" $s "key" $key)}}
        {{ end }}
    </div>
    {{ end }}
</div>
{{end}}

{{define "custom_skill_item"}}
{{ $s := .skill }}
{{ $key := .key }}
<div class="customSkill" data-id="{{ $key }}">
    <input class="long" data-id="name" value="{{ $s.Name }}">

    <select data-id="characteristic">
        <option value="WS" {{if eq $s.Characteristic "WS" }}selected{{end}}>WS</option>
        <option value="BS" {{if eq $s.Characteristic "BS" }}selected{{end}}>BS</option>
        <option value="S" {{if eq $s.Characteristic "S" }}selected{{end}}>S</option>
        <option value="T" {{if eq $s.Characteristic "T" }}selected{{end}}>T</option>
        <option value="A" {{if eq $s.Characteristic "A" }}selected{{end}}>A</option>
        <option value="I" {{if eq $s.Characteristic "I" }}selected{{end}}>I</option>
        <option value="P" {{if eq $s.Characteristic "P" }}selected{{end}}>P</option>
        <option value="W" {{if eq $s.Characteristic "W" }}selected{{end}}>W</option>
        <option value="F" {{if eq $s.Characteristic "F" }}selected{{end}}>F</option>
        <option value="Inf" {{if eq $s.Characteristic "Inf" }}selected{{end}}>Inf</option>
        <option value="Cor" {{if eq $s.Characteristic "Cor" }}selected{{end}}>Cor</option>
    </select>

    <label class="chk-label"><input type="checkbox" class="custom" data-id="plus0" {{if $s.Plus0}}checked{{end}}></label>
    <label class="chk-label"><input type="checkbox" class="custom" data-id="plus10" {{if $s.Plus10}}checked{{end}}></label>
    <label class="chk-label"><input type="checkbox" class="custom" data-id="plus20" {{if $s.Plus20}}checked{{end}}></label>
    <label class="chk-label"><input type="checkbox" class="custom" data-id="plus30" {{if $s.Plus30}}checked{{end}}></label>

    <td>
        <input type="number" class="short textlike" data-id="miscBonus" value="{{$s.MiscBonus}}">
    </td>

    <input type="text" class="short uneditable" data-id="difficulty" readonly value="{{ $s.Difficulty }}">

    <div class="drag-handle"></div>
    <button class="delete-button"></button>
</div>
{{end}}