{{define "title"}}About{{end}}
{{define "main"}}
<h2>About</h2>
e-mail: <a href="mailto:iociveteres@gmail.com" target="_parent">iociveteres@gmail.com</a><br>
github repository: <a
    href="https://github.com/iociveteres/CharacterSheet">https://github.com/iociveteres/CharacterSheet</a><br>

<p>I was frustrated with Roll20's laggy sheets and general slowness, so I set out to build a better character sheet.
    The site launched in November 2025, and I can boast not only my friends use it. On release I thought it was
    complete, but further use revealed more features worth adding.
</p>
<p>Since launch, the following has been added:</p>
<ul>
    <li>Tabs for psychic and tech power schools</li>
    <li>Folders for character sheets</li>
    <li>Significantly more automation</li>
    <li>Migration from an event-based system to Preact signals for reactive calculations</li>
    <li>One click rolls for skill checks, ability tests, initiative etc.</li>
    <li>Modifier builders for attack, psychic test and rolls</li>
</ul>
<p>Currently planned:</p>
<ul>
    <li>Autocomplete and autofill for advancements, gear, talents, psychic powers, etc.</li>
    <li>Russian localisation (i18n)</li>
    <li>Bug fixes as needed and refactoring when my heart says so</li>
</ul>
<p>I hope you find the site enjoyable and useful in your endeavors, dogmatic or chaotic.</p><br>
<p>I also made the full table of Pathfinder 1e spells, check it out here:<br> <a
        href="https://iociveteres.github.io/SpellTable-pf1e/">https://iociveteres.github.io/SpellTable-pf1e/</a></p><br>

<p>This is a fan-made site and is not affiliated with Games Workshop.</p>
{{end}}