{{define "title"}}Your Character Sheets{{end}}
{{define "main"}}
<h2>Your Character Sheets</h2>
<div class="container">
   
        <div class="controls">
            <a href='/sheet/new/'>New Character Sheet</a>
        </div>
   
    {{range .CharacterSheets}}
    <div class="item">
        <div class="data">
            <div class="data">
                <div class="name">{{.CharacterName}}</div>
                <div class="meta created">Created {{humanDate .Created}}</div>
                <div class="meta updated">Last modified {{humanDate .Updated}}</div>
            </div>
        </div>
        <div class="controls">
            <a href='/sheet/show/{{.ID}}'>Edit</a>
        </div>
    </div>
    {{end}}
</div>
{{end}}