{{define "title"}}Sheet{{end}}
{{define "character_sheet_fragment"}}

<div id="charactersheet" data-sheet-id="{{.CharacterSheet.ID}}">
    {{with .CharacterSheetContent}}
    <template shadowrootmode="open">
        <link rel="stylesheet" href='/static/css/sheet.css?v={{version "css/sheet.css"}}'>
        <div class="container {{if not $.CanEditSheet}}view-only{{end}}">
            <div class="wrapper">
                <div class="controls-block">
                    <button class="toggle-delete-mode" title="Enable/disable deleting items">Delete Mode</button>
                    <button class="toggle-descriptions" title="Show/hide all descriptions">Toggle Descs</button>
                </div>
                <div class="tabs" id="navigation-tabs">
                    <input class="radiotab" type="radio" id="show-player-sheet" name="toggle" checked="checked" />
                    <label class="tablabel" for="show-player-sheet">Player Sheet</label>
                    <div id="player-sheet" class="character-sheet panel">
                        <h2 class="align-self-center">Character Information</h2>
                        <div class="character-sheet-grid">
                            {{template "character_info" .CharacterInfo}}

                            <div class="layout-row items-start">
                                <div class="layout-column" id="character-sheet-left-col">
                                    <!-- Characteristics Section -->
                                    {{template "characteristics" .Characteristics}}

                                    <div id="skills" class="skills-block">
                                        <div>
                                            <h3>Skills</h3>
                                            <div class="skill-list">
                                                {{template "skills_left" .SkillsLeft}}

                                                {{template "skills_right" .SkillsRight}}
                                            </div>
                                        </div>

                                        <div class="custom-skills">
                                            <h3>Custom skills</h3>
                                            {{template "custom_skills" .}}
                                        </div>
                                    </div>
                                </div>

                                <div class="layout-column" id="character-sheet-right-col">
                                    <!-- Notes Section -->
                                    <h3>Notes</h3>
                                    {{template "notes" .}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <input class="radiotab" type="radio" id="show-combat" name="toggle" />
                    <label class="tablabel" for="show-combat">Combat</label>
                    <div id="combat" class="combat panel">
                        <h2 class="align-self-center">Combat</h2>
                        <div class="layout-row gap-5">
                            <div class="statblock layout-column">
                                <!-- Stats Section -->
                                <div class="layout-column">
                                    <div class="layout-row content-around">
                                        <div class="layout-column">
                                            <h3>Infamy Points</h3>
                                            {{template "infamy_points" .InfamyPoints}}
                                        </div>
                                        <div class="layout-column">
                                            <h3>Fatigue</h3>
                                            {{template "fatigue" .Fatigue}}
                                        </div>
                                    </div>
                                    <div class="layout-row">
                                        {{template "resource_trackers" .}}
                                    </div>
                                    <div class="layout-row content-around">
                                        {{template "size_and_initiative" .}}
                                    </div>
                                </div>

                                <div>
                                    <h3>Movement</h3>
                                    {{template "movement" .Movement}}
                                </div>


                                <div id="armour" class="armour">
                                    <h3>Armour & Defence</h3>
                                    {{template "armour" .Armour}}
                                </div>

                                <div id="power-shields">
                                    <h3>Power Shields</h3>
                                    {{template "power_shields" .}}
                                </div>
                            </div>
                            <div class="layout-column full-width">
                                <!--Attacks Section -->
                                <h3>Ranged Attacks</h3>
                                {{template "ranged_attacks" .}}

                                <h3>Melee Attacks</h3>
                                {{template "melee_attacks" .}}
                            </div>
                        </div>
                    </div>

                    <input class="radiotab" type="radio" id="show-talents" name="toggle" />
                    <label class="tablabel" for="show-talents">Talents</label>
                    <div id="traits-and-talents" class="talents panel">
                        <h2 class="align-self-center">Traits and Talents</h2>
                        <h3>Traits</h3>
                        {{template "traits" .}}

                        <h3>Talents</h3>
                        {{template "talents" .}}
                    </div>

                    <input class="radiotab" type="radio" id="show-gear" name="toggle" />
                    <label class="tablabel" for="show-gear">Gear</label>
                    <div id="inventory" class="gear panel">
                        <div class="layout-column">
                            <h2 class="align-self-center">Weight</h2>
                            {{template "carry_weight" .CarryWeight}}

                            <h2 class="align-self-center">Gear</h2>
                            {{template "gear" .}}

                            <h2 class="align-self-center">Cybernetics</h2>
                            {{template "cybernetics" .}}
                        </div>
                    </div>

                    <input class="radiotab" type="radio" id="show-advancements" name="toggle" />
                    <label class="tablabel" for="show-advancements">Advancements</label>
                    <div id="advancements" class="advancements panel">
                        <div id="advancements-grid">
                            {{template "experience" .}}

                            <div>
                                <h2 class="align-self-center">Mutations</h2>
                                {{template "mutations" .}}

                            </div>
                            <div>
                                <h2 class="align-self-center">Mental Disorders</h2>
                                {{template "mental_disorders" .}}
                            </div>
                            <div>
                                <h2 class="align-self-center">Diseases</h2>
                                {{template "diseases" .}}
                            </div>
                        </div>
                    </div>

                    <input class="radiotab" type="radio" id="show-psykana" name="toggle" />
                    <label class="tablabel" for="show-psykana">Psykana</label>
                    <div id="psykana" class="psykana panel">
                        <h2 class="align-self-center">Psykana</h2>
                        {{template "psykana" .}}
                    </div>

                    <input class="radiotab" type="radio" id="show-techno-arcana" name="toggle" />
                    <label class="tablabel" for="show-techno-arcana">Techno Arcana</label>
                    <div id="techno-arcana" class="techno-arcana panel">
                        <h2 class="align-self-center">Techno Arcana</h2>
                        {{template "techno-arcana" .}}
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
{{end}}

<template id="profile-tab-template">
    <div class="profile-tab" data-id="__ID__">
        <div class="layout-row">
            <div class="layout-row range">
                <label for="range-__ID__">Range:</label>
                <input id="range-__ID__" data-id="range" />
            </div>
            <div class="layout-row damage">
                <label for="damage-__ID__">Damage:</label>
                <input id="damage-__ID__" data-id="damage" />
            </div>
            <div class="layout-row pen">
                <label for="pen-__ID__">Pen:</label>
                <input id="pen-__ID__" data-id="pen" />
            </div>
            <div class="layout-row damage-type">
                <label for="damage-type-__ID__">Type:</label>
                <select id="damage-type-__ID__" data-id="damage-type">
                    <option value="I">I</option>
                    <option value="I(Cr)">I(Cr)</option>
                    <option value="R">R</option>
                    <option value="X">X</option>
                    <option value="X(Fr)">X(Fr)</option>
                    <option value="E">E</option>
                    <option value="E(Ls)">E(Ls)</option>
                    <option value="E(Fl)">E(Fl)</option>
                    <option value="C">C</option>
                    <option value="C(Tx)">C(Tx)</option>
                </select>
            </div>
        </div>

        <div class="layout-row">
            <div class="layout-row special">
                <label for="special-__ID__">Special:</label>
                <input id="special-__ID__" data-id="special" />
            </div>
        </div>
    </div>
</template>

<template id="characteristic-select">
    <select data-id="characteristic">
        <option value="WS">WS</option>
        <option value="BS">BS</option>
        <option value="S">S</option>
        <option value="T">T</option>
        <option value="A">A</option>
        <option value="I">I</option>
        <option value="P">P</option>
        <option value="W">W</option>
        <option value="F">F</option>
        <option value="Inf">Inf</option>
        <option value="Cor">Cor</option>
    </select>
</template>

<template id="damage-types-select">
    <select data-id="damage-type">
        <option value="I">I</option>
        <option value="I(Cr)">I(Cr)</option>
        <option value="R">R</option>
        <option value="X">X</option>
        <option value="X(Fr)">X(Fr)</option>
        <option value="E">E</option>
        <option value="E(El)">E(El)</option>
        <option value="E(Ls)">E(Ls)</option>
        <option value="E(Fl)">E(Fl)</option>
        <option value="C">C</option>
        <option value="C(Tx)">C(Tx)</option>
    </select>
</template>

<template id="ranged-group-select">
    <select data-id="class">
        <option value="pistol">Pistol</option>
        <option value="rifle">Rifle</option>
        <option value="long rifle">Long Rifle</option>
        <option value="heavy">Heavy</option>
        <option value="throwing">Throwing</option>
        <option value="grenade">Grenade</option>
        <option value="special">Special</option>
    </select>
</template>

<template id="melee-group-select">
    <select data-id="group">
        <option value="primary">Primary</option>
        <option value="chain">Chain</option>
        <option value="shock">Shock</option>
        <option value="power">Power</option>
        <option value="exotic">Exotic</option>
    </select>
</template>

<template id="melee-profiles-select">
    <select data-id="profile">
        <option value="mace">Mace</option>
        <option value="glaive">Glaive</option>
        <option value="flail">Flail</option>
        <option value="whip">Whip</option>
        <option value="claws">Claws</option>
        <option value="claws.h">Claws.H</option>
        <option value="claws.a">Claws.A</option>
        <option value="spear">Spear</option>
        <option value="hook">Hook</option>
        <option value="fist">Fist</option>
        <option value="fist.a">Fist.A</option>
        <option value="sword">Sword</option>
        <option value="rapier">Rapier</option>
        <option value="saber">Saber</option>
        <option value="hammer">Hammer</option>
        <option value="axe">Axe</option>
        <option value="knife">Knife</option>
        <option value="staff">Staff</option>
        <option value="bayonet">Bayonet</option>
        <option value="shield">Shield</option>
        <option value="bite">Bite</option>
        <option value="no">No</option>
    </select>
</template>

<script id="attack-default-roll-content-ranged" type="application/json">
{{ defaultRangedRollContent }}
</script>

<script id="attack-default-roll-content-melee" type="application/json">
{{ defaultMeleeRollContent }}
</script>

<template id="ranged-attack-roll-template">
    {{/* Create mock attack with Name as placeholder for JS replacement */}}
    {{$mockAttack := dict "ra" (rangedAttackTemplate) "key" "TEMPLATE_ID"}}
    {{template "ranged_attack_roll" $mockAttack}}
</template>

<template id="melee-attack-roll-template">
    {{/* Create mock attack with Name as placeholder for JS replacement */}}
    {{$mockAttack := dict "ma" (meleeAttackTemplate) "key" "TEMPLATE_ID"}}
    {{template "melee_attack_roll" $mockAttack}}
</template>
{{end}}