{{define "title"}}Password Reset{{end}}
{{define "main"}}
Enter your email and change password link will be sent<br>
<form method="POST" action='{{reverseRev "PasswordRequestReset"}}'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Email:</label>
        {{with .Form.Errors.email}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='email' name='email' value='{{.Form.Email}}'>
    </div>
    <div>
        <button type="submit" class="button-large">Request change link</button>
    </div>
</form>
{{end}}