{{define "title"}}Your Character Sheets{{end}}
{{define "main"}}
<h2>Your Character Sheets</h2>
<div class="container">

    <div class="controls">
        <a href='{{reverseRev "RoomCreate"}}'>Create New Room</a>
    </div>

    {{range .RoomsWithRole}}
    <div class="item">
        <div class="data">
            <div class="data">
                <div class="name">{{.Room.Name}}</div>
                <div class="meta created">Created {{humanDate .Room.CreatedAt $.TimeZone}}</div>
                <div class="meta created">{{.UserRole}}</div>
            </div>
        </div>
        <div class="controls">
            <a href='{{reverseRev "RoomDelete" (str .Room.ID)}}' class="muted">Delete</a>
            <a href='{{reverseRev "RoomView" (str .Room.ID)}}'>Open</a>
        </div>
    </div>
    {{end}}
</div>
{{end}}