{{define "characterSheets"}} {{/* expects .CharacterSheets */}}
{{range .CharacterSheets}}
<div class="character-sheet-entry" data-sheet-id="{{.ID}}">
    <div class="name"><a href="/sheet/view/{{.ID}}">{{.CharacterName}}</a></div>
    <div class="meta created">Created {{humanDate .CreatedAt}}</div>
    <div class="meta updated">Modified {{humanDate .UpdatedAt}}</div>
    <div class="sheet-controls">
        <button class="delete-sheet" type="button"></button>
    </div>
</div>
{{end}}
{{end}}

{{define "playerWithSheets"}} {{/* expects a *PlayerView */}}
<div class='player' data-user-id="{{.User.ID}}">
    <div class="player-name">{{.User.Name}}</div>
    {{template "characterSheets" .}}
</div>
{{end}}

{{define "playerManager"}} {{/* expects a *PlayerView */}}
<div class='player' data-user-id="{{.User.ID}}">
    <div class="player-name">{{.User.Name}}</div>
    <div class="meta created">Joined at {{humanDate .JoinedAt}}</div>
</div>
{{end}}


{{define "title"}}{{.Room.Name}}{{end}}
{{define "main"}}
<div class='room' id="room" data-room-id="{{.Room.ID}}">
    <div id="character-sheet-container">
    </div>

    <div id="right-panel">
        <h2>{{.Room.Name}}</h2>
        <div class="tabs">
            <input class="radiotab" type="radio" id="show-chat" name="toggle" />
            <label class="tablabel" for="show-chat">Chat</label>
            <div id="chat" class="panel chat"></div>

            <input class="radiotab" type="radio" id="show-characters" name="toggle" />
            <label class="tablabel" for="show-characters">Characters</label>
            <div id="characters" class="panel characters">
                <button id="new-character" type="button">New character</button>
                {{with .CurrentPlayerView}}
                {{template "playerWithSheets" .}}
                {{end}}

                {{range .PlayerViews}}
                {{template "playerWithSheets" .}}
                {{end}}
            </div>
        </div>
    </div>
</div>

<script type="module" src="/static/js/room.js"></script>
<script type="module" src="/static/js/room_ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="module" src="/static/js/sheet/script.js"></script>
<script type="module" src="/static/js/sheet/dataIdTree.js"></script>
<script type="module" src="/static/js/sheet/network.js"></script>
{{end}}