{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Character Sheet</title>

    <script src="/static/js/theme-init.js" type="module"></script>

    <link rel='stylesheet' href='/static/css/themes/themes.css'>
    <link rel='stylesheet' href='/static/css/common.css'>
    {{if not .HideLayout}}
    <link rel='stylesheet' href='/static/css/main.css'>
    {{else}}
    <link rel='stylesheet' href='/static/css/room.css'>
    {{end}}
    <link rel='shortcut icon' href='/static/img/favicon.png' type='image/x-icon'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    {{if not .HideLayout}}
    <header class="site-inner">
        <div class="recolor"></div>
        <h1><a href='/'>Character Sheet</a></h1>
    </header>
    {{template "nav" .}}
    {{end}}
    <main class="site-inner">
        <div class="main-content">
            {{with .Flash}}
            <div class='flash'>{{.}}</div>
            {{end}}
            {{template "main" .}}
        </div>
    </main>
    {{if not .HideLayout}}
    <footer class="site-wide">
        <div class="site-inner">
            {{.CurrentYear}}
        </div>
    </footer>
    {{end}}
    <script src="/static/js/main.js" type="module"></script>
</body>

</html>
{{end}}