{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Character Sheet</title>
    {{if not .HideLayout}}
    <link rel='stylesheet' href='/static/css/main.css'>
    {{else}}
    <link rel='stylesheet' href='/static/css/sheet_base.css'>
    {{end}}
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    {{if not .HideLayout}}
    <header>
        <h1><a href='/'>Character Sheet</a></h1>
    </header>
    {{template "nav" .}}
    {{end}}
    <main>
        {{with .Flash}}
        <div class='flash'>{{.}}</div>
        {{end}}
        {{template "main" .}}
    </main>
    {{if not .HideLayout}}
    <footer>
        {{.CurrentYear}}
    </footer>
    {{end}}
    {{if not .HideLayout}}
    <script src="/static/js/main.js" type="text/javascript"></script>
    {{end}}
</body>

</html>
{{end}}