/* * { outline: 1px solid red; } */
:root {
    --bg: #7ba365;
    --secondary-bg: #3e4637;

    --accent: #c4b550;
    --secondary-accent: #958831;

    /* --text: #dedfd6;
    --secondary-text: #d8ded3;
    --text-3: #a0aa95; */

    --border-light: #8c9284;
    --border-dark: #292c21;

    --disabled-text: #292c21;
    --disabled-text-shadow: #75806f;

    --outline: #000;
    --slider: #7f8c7f;
    --slider-bg: #1f1f1f;

    --scrollbar-track: #5a6a50;
}

html {
    overflow-y: scroll;
}

h2,
h3 {
    text-align: center;
}

h3 {
    margin: 0.5rem 0 0.5rem 0;
}

.container {
    display: flex;
    justify-content: center;

    &.deletion-mode {
        .delete-button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .drag-handle {
            display: none;
        }
    }
}

.wrapper {
    position: relative;
}

.controls-block {
    position: absolute;
    top: 40px;
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tabs {
    padding: 0.25rem;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

    .radiotab {
        position: absolute;
        opacity: 0;
    }

    .tablabel {
        display: flex;

        cursor: pointer;
        font-size: 16px;
        color: rgb(20, 8, 8);
        line-height: 2em;
        height: 1.5em;
        padding: 4px 5px;
        text-align: left;
        min-width: 64px;
        position: relative;
        background-color: var(--bg);
        border-top: solid 1px var(--border-light);
        border-left: solid 1px var(--border-light);
        border-right: solid 1px var(--border-dark);
        border-bottom: none;
        margin-right: 1px;
        z-index: 10;
    }

    .radiotab:checked+.tababel {
        background: var(--bg);
        padding: 5px;
        height: 29px;
        color: var(--accent);

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background-color: var(--bg);
        }
    }

    .panel {
        display: none;
        position: relative;
        bottom: 1px;
        padding: 20px 20px 20px;
        background: var(--bg);
        width: 100%;
        border-left: solid 1px var(--border-light);
        border-bottom: solid 1px var(--border-dark);
        border-right: solid 1px var(--border-dark);
        border-top: solid 1px var(--border-light);
        order: 99;
        color: var(--text);
    }

    .radiotab:checked+.tablabel+.panel {
        display: block;
        position: relative;
    }

    .add-tab-btn {
        font-size: 16px;
        line-height: 2em;
        height: 2em;
        padding: 4px 5px;
        cursor: pointer;
        user-select: none;

        background-color: var(--bg);
        border-top: solid 1px var(--border-light);
        border-left: solid 1px var(--border-light);
        border-right: solid 1px var(--border-dark);
        border-bottom: none;
        z-index: 10;
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    justify-content: center;

    input[type="radio"] {
        display: none;
    }

    label {
        flex: 1;
        width: 100%;
        text-align: center;
        padding: 1em;
        margin: 0 1em 0 0;
        background-color: #eee;
        border: 1px solid #ccc;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }

    input[type="radio"]:checked+label {
        background-color: #4CAF50;
        color: white;
        border-color: #4CAF50;
    }
}


.layout-column {
    display: flex;
    flex-direction: column;
}

.layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    flex-shrink: 1;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.character-sheet-grid {
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.character-sheet {}

.character-info {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;

    .content-row {
        margin: 5px;

        label {
            margin-right: 1em;
            text-align: right;
            flex-shrink: 0;
        }

        input {
            flex: 1;
            border: 1px gray;
            border-radius: 0.3em;
            padding: 0.5em;
            box-sizing: border-box;
        }
    }
}

.characteristics2 {
    grid-column: span 1;
    grid-row: 2;

    label {
        font-size: 85%;
        text-align: center;
    }
}

.characteristic-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    width: 4em;
    align-items: center;

    label {
        margin: auto;
    }
}

.characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content-row {
        margin: 5px;
    }

    label {
        text-align: center;
        flex: 1;
    }
}

.characteristic-field {
    position: relative;
    width: 3.9em;
    height: 3.9em;
}

.attribute {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    border: 1px dotted gray;
    border-radius: 0.3em;
}

.attribute-unnatural {
    position: absolute;
    bottom: 0em;
    right: 0em;
    max-width: 1.7em;
    height: 1.7em;
    font-size: 0.8em;
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: 1px dotted gray;
    background-color: rgba(255, 255, 255, 0.418);
    border-top-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.textarea {
    height: 20rem;
    margin: 0.5rem;
    box-sizing: border-box;
    /* ensures padding/margin don't break width */
    flex-grow: 1;
    /* allows growing inside a flex container */
    resize: none;
    /* optional: allow vertical resize only */
}

.skills-block {
    grid-column: 2;
}

.skill-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

    table {
        border-collapse: collapse;
    }

    td {
        white-space: nowrap;

        &:not(:first-child) {
            background-color: #aaaaaaa0;
        }

        &:first-child:not(:has(input)) {
            text-align: left;
            padding-left: 1.5em;
        }
    }

    input {
        border: 1px gray;
        border-bottom: 1px solid darkgrey;
    }

    .subskill td:first-child:before {
        content: "├ ";
    }
}

.custom-skills {
    table {
        width: 100%;
    }

    td:nth-child(n+3):nth-child(-n+6) {
        width: 4.5%;
    }

    select,
    input {
        width: 95%;
    }
}

#character-sheet-left-col {
    flex-grow: 0.5;
}

#character-sheet-right-col {
    flex-grow: 2;
}

.col2-grid {
    display: grid;
    gap: 0.6em 0px;
    grid-template-columns: 1fr 1fr;

    .content-row {
        justify-content: space-evenly;
    }
}

.col4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .content-row {
        justify-content: center;
        margin: 5px;
    }
}

.short-input {
    width: 4rem;
    margin: 0 5px 0 5px;
    /* border: 1px dotted gray; */
    /* border-radius: 0.3em; */
    height: 1.5em;
}

.body-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 6em;
    background-color: rgba(187, 187, 187, 0.2);
    border-radius: 10px;
    padding: 3px;
    margin: 2px;

    input {
        text-align: center;
        border-radius: 0.3em;
        margin-top: 2px;
        width: 6em;
        background-color: transparent;
        border-bottom: 1px dotted #8b8b88;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}

.uneditable {
    cursor: not-allowed;
}

#wounds-block {
    .col2-grid {
        gap: 10px;
    }
}

#ranged-attack,
#melee-attack {
    width: 100%;

    .ranged-attack,
    .melee-attack {
        flex: 0 1 auto;
        margin: 0px 5px;
        background-color: #88be55;

        .layout-row {
            gap: 0.5rem;
            margin: 0 0 3px 0;
        }

        .name,
        .range,
        .damage,
        .pen,
        .damage-type,
        .grip,
        .special,
        .upgrades {
            flex: 1 1 0;
            min-width: 0;
        }

        .group,
        .class,
        .rof,
        .clip,
        .profile,
        .balance,
        .reload {
            flex: 0 1 auto;
            min-width: 0;
        }

        input,
        select,
        span {
            width: 100%;
            box-sizing: border-box;
        }

        .tablabel {
            padding: 5px 2px;

            select {
                width: auto;
            }
        }
    }
}

.item-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px auto;
    position: relative;
    align-items: flex-start;

    .layout-column-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;

        &:has(.layout-column > *) .add-slot {
            margin-top: 10px;
        }
    }

    .layout-column {
        display: flex;
        flex-direction: column;
        flex: auto;
        gap: 10px;
    }

    .add-slot {
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }

        .add-button {
            font-size: 12px;
            padding: 7px 12px;
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background: #ddd;
            }
        }
    }

    .drag-handle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: grab;
        width: 18px;
        user-select: none;
        font-weight: 200;
        color: #888;
        margin-left: auto;
        height: 100%;

        &::after {
            content: "☰";
            font-size: 1em;
            text-align: center;
        }

        &:active {
            cursor: grabbing;
            color: #555;
        }
    }

    .delete-button {
        display: none;
        padding: 2px 1px;
        width: 18px;
        background: transparent;
        border: none;
        color: rgb(230, 15, 15);
        cursor: pointer;

        &::after {
            content: "✖";
            font-size: 1em;
            text-align: center;
        }
    }

    .sortable-ghost {
        opacity: 0.4;
        background: #ddd;
    }

    .item-with-description {
        flex: 0 1 auto;
        box-sizing: border-box;
        padding: 5px;
        background: #f9f9f9;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        transition: background 0.3s;

        .split-header {
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                flex: 1;
                padding: 2px 0px 2px 4px;
                font-size: 12px;
            }

            .toggle-button {
                padding: 3px 7px;
                font-size: 12px;
                cursor: pointer;
                background: #e0e0e0;
                border: 1px solid #ccc;
                border-radius: 2px;
                pointer-events: none;
                display: none;

                &:hover {
                    background: #d0d0d0;
                }

                &::after {
                    content: "▼";
                }
            }
        }

        .split-description {
            /* overflow: hidden; */
            border: none;
            height: 2rem;
            max-height: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            font-size: 12px;
            resize: vertical;
            transition:
                max-height 0.3s ease,
                opacity 0.3s ease,
                margin-top 0.3s ease,
                padding 0.3s ease;


            &.visible {
                border: 1px solid #8f8f9d;
                margin-top: 6px;
                max-height: 300px;
                min-height: 2rem;
                opacity: 1;
                padding: 2px 4px;
            }
        }

        &:has(.split-description.visible) {
            .split-header .toggle-button::after {
                content: "▲";
            }

            .toggle-button {
                display: inline-flex;
                pointer-events: auto;
            }
        }

        &:has(.split-description:not(:placeholder-shown)) .toggle-button,
        &:hover .toggle-button {
            display: inline-flex;
            pointer-events: auto;
        }
    }

    .experience-item {
        flex: 1 0 100%;
        box-sizing: border-box;
        padding: 5px;
        background: #f9f9f9;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: row;
        align-items: start;
        max-width: 100%;
        gap: 3px;

        .long {
            flex: 1 0 auto;
            box-sizing: border-box;
        }

        .short {
            width: 4em;
            box-sizing: border-box;
        }
    }
}

.centered-bar {
    gap: 5px;
    align-self: center;
}