{{define "nav"}}
<nav class="site-wide">
    <div class="site-inner">
        <div>
            <!-- Toggle the link based on authentication status -->
            {{if .IsAuthenticated}}
            <a href='{{reverseRev "AccountRooms"}}'>Rooms</a>
            <a href='{{reverseRev "AccountSheets"}}'>Character Sheets</a>
            {{end}}
        </div>
        <div>
            <!-- Toggle the links based on authentication status -->
            {{if .IsAuthenticated}}
            <a href='{{reverseRev "AccountView"}}'>Account</a>
            <form action='{{reverseRev "UserLogout"}}' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button class='button-linklike'>Logout</button>
            </form>
            {{else}}
            <a href='{{reverseRev "UserSignup"}}'>Signup</a>
            <a href='{{reverseRev "UserLogin"}}'>Login</a>
            {{end}}
        </div>
    </div>
</nav>
{{end}}