{{define "subject"}}Charactersheet password change{{end}}

{{define "plainBody"}}
Hi, {{.Name}}.
To activate your account, open the following link:
{{.ResetPasswordLink}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi, {{.Name}}.</p>
    <p>To change your password click <a href="{{.ResetPasswordLink}}">here</a>, or open the following link:</p>
    <p><a href="{{.ResetPasswordLink}}">{{.ResetPasswordLink}}</a></p>
</body>

</html>
{{end}}